 /**
* @author: Dmitry Prozorovskiy
* @date: 16-Apr-19
* @description: base table compoonent
**/

.THIS.slds-table--header-fixed_container {
    height: 100%;
}

.THIS.no-data-height {
    height: auto;
}

.THIS .empty-data-message-container {
    background: #ffffff;
    height: fit-content;
}

.THIS .empty-data-message {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.THIS .text-header {
    font-size: 1.125rem;
}

.THIS .title-rows{
    padding-top: 5px;
}

.THIS .box-shadow-none{
    box-shadow: none;
}

.THIS .box-shadow-none button{
    box-shadow: none;
}

.THIS .action-group {
    display: flex;
}

.THIS .search-field input{
    height: 40px;
}

.THIS.slds-table--header-fixed_container {
    width: 100%;
    background-color: #F8F9FB;
    padding-top: 40px !important;
}

.THIS .slds-table thead th div.action-group {
    background-color: #F8F9FB;
    display: flex;
    padding: 0px 8px 0px 8px;
    height: 40px;
}

.THIS .slds-table thead th:first-child div {
    padding-left: 0;
}

.THIS .table-spinner{
    height: calc(100% + 40px);
}

.THIS tr td{
    height: 40px;
    border-bottom: 1px solid rgb(212, 212, 212) !important;
}

.THIS tbody:last-of-type tr td{
    border-bottom: none !important;
}

.THIS tr:hover td {
    background-color: #EEF5FF !important;
    box-shadow: none !important;
    cursor: pointer;
}

.THIS td svg{
    width: 16px;
}

.THIS td button.chevronright {
    border: none;
    height: 20px;
    width: 20px;
    box-shadow: none;
}

.THIS td.table-actions {
    padding: 0 8px 0 8px !important;
}

.THIS td.table-actions .slds-button_icon-container-more lightning-primitive-icon:last-of-type{
    display: none;
}

.THIS tr > td.table-actions .slds-dropdown_left {
    transform: translate(-100px, -45%);
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.27);
}

.THIS tr:last-of-type > td.table-actions .slds-dropdown_left {
    transform: translate(-100px, -100%);
}

.THIS tr:first-of-type > td.table-actions .slds-dropdown_left {
    transform: translate(-100px, -45%);
}

.THIS td.table-actions .slds-dropdown__item > a:hover {
    background-color: #EEF5FF;
}

.THIS td.table-actions ul.dropdown__list {
    overflow-y: auto;
    max-height: 150px;
}

.THIS.table-footer {
    bottom: 0;
    padding-top: 0.25rem;
    background: #F8F9FB;
    height: 40px;
    width: 100%;
    font-size: 13px;
    color: #333333;
    line-height: 22px;
    display: block;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(212, 212, 212);
    border-top: none;
}

.THIS .slds-checkbox [type=checkbox]:focus:checked ~ .slds-checkbox--faux {
    background: #297dfd !important;
    /*box-shadow: 0 5px 10px 0 rgba(41, 125, 253, 0.56);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 4px 8px 0 rgba(41, 125, 253, 0.08);
}

.THIS .slds-checkbox:hover {
    cursor: pointer;
}

.THIS .slds-checkbox [type=checkbox]:focus {
    outline: none !important;
}

.THIS .slds-checkbox.checkbox-checked .slds-checkbox--faux {
    border: none;
    background: #297dfd;
    /*box-shadow: 0 5px 10px -1px rgba(41, 125, 253, 0.56);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 4px 8px 0 rgba(41, 125, 253, 0.08);
}

.THIS .slds-checkbox [type=checkbox]:not(:checked) ~ .slds-checkbox--faux {
    background: white !important;
    box-shadow: none;
    border: thin solid rgb(217, 219, 221);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
}

.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux:after {
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(250, 250, 249);
    border-left-width: 1.5px;
    border-left-style: solid;
    border-left-color: rgb(250, 250, 249);
    height: 0.35rem;
    width: 0.6rem;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-55deg);
}

.THIS ::-webkit-scrollbar {
    background: white;  /* optional: just make scrollbar invisible */
    width: 3px;
}

.THIS ::-webkit-scrollbar-track {
    background: transparent;
}
/* optional: show position indicator in another color */
.THIS ::-webkit-scrollbar-thumb {
    background: #E9E9E9;
}
.THIS .section-folded {
    display: none;
}
.THIS .section-folded.section-unfolded {
    display: table-row-group;
}
.THIS .slds-table thead th {
    color: #000;
    font-weight: 500;
    background-color: #f8f9fb;
}

.THIS .chevronright {
    cursor: pointer;
    position: absolute;
    left: 4px;
    transition: transform .1s;
}
.THIS .chevronright svg {
    fill: #297DFD;
}

.THIS .section-unfolded .chevronright {
    transform: rotate(90deg);
}

.THIS .action-group {
    width: inherit;
}

.THIS .action-group .sort .asc, .THIS .action-group .sort .desc {
    color: #005FF1;
}

.THIS .action-group .sort {
    padding-left: 4px !important;
    display: inline-block;
}

.THIS .action-group .sort button{
    box-shadow: none;
}

.THIS .action-group .table-filter {
    padding-left: 4px !important;
    display: inline-block;
}

.THIS .action-group .table-filter button {
    padding-left: 0;
    border: none;
    box-shadow: none;
    background-color: inherit;
}

.THIS .action-group .table-filter button lightning-primitive-icon:last-of-type{
    display: none;
}

.THIS .action-group .table-filter div.slds-dropdown_left {
    overflow: auto;
    max-height: 150px;
    position: fixed;
    top: auto;
    left: auto;
}

.THIS .action-group .table-filter div.slds-dropdown_left legend{
    display: none;
}

.THIS .action-group .table-filter div.slds-dropdown_left span.slds-checkbox {
    display: flex;
    height: 35px;
}

.THIS .action-group .table-filter div.slds-dropdown_left span.slds-checkbox:hover {
    background-color: #EEF5FF !important;
}

.THIS .action-group .table-filter div.slds-dropdown_left span.slds-checkbox label{
    display: flex;
    width: 100%;
    padding: 0 12px 0 12px;
    cursor: pointer;
}

.THIS .action-group .table-filter div.slds-dropdown_left span.slds-checkbox span.slds-checkbox_faux {
    align-self: center;
    order: 2;
    position: fixed;
    right: 0;
    border: none;
    box-shadow: none;
    background-color: inherit !important;
}

.THIS .action-group .table-filter div.slds-dropdown_left span.slds-checkbox span.slds-checkbox_faux::after {
    width: 12px !important;
    height: 6px !important;
    border-color: #000000 !important;
}

.THIS .action-group .table-filter div.slds-dropdown_left span.slds-checkbox span.slds-form-element__label {
    align-self: center;
    order: 1;
    margin-right: 8px;
}

.THIS .non-selective {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.THIS .navigation-button{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
}

.THIS .navigation-buttons,
.THIS .navigation-buttons .navigation-button {
    line-height: inherit !important;
}

.THIS .navigation-button-next{
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.THIS .navigation-button-previous{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.THIS .action_button_bar{
    display: flex;
    width: 100%;
    height: 36px;
    padding: 0 16px;
    justify-content: space-between;
}

.THIS .inline-block select.select{
    width: 50px;
}

.THIS .page-number {
    padding: 1px 8px;
}

.THIS .nav-panel {
    display: flex;
    padding-top:3px;
}

.THIS .navigation-button-disabled{
    color: #DCDCDC;
}
.THIS .inline-block{
    display: flex;
}

.THIS .table-width-1 {
    width: calc(100% / 24);
}

.THIS .table-width-2 {
    width: calc((100% / 24) * 2);
}

.THIS .table-width-3 {
    width: calc((100% / 24) * 3);
}

.THIS .table-width-4 {
    width: calc((100% / 24) * 4);
}

.THIS .table-width-5 {
    width: calc((100% / 24) * 5);
}

.THIS .table-width-6 {
    width: calc((100% / 24) * 6);
}

.THIS .table-width-7 {
    width: calc((100% / 24) * 7);
}

.THIS .table-width-8 {
    width: calc((100% / 24) * 8);
}

.THIS .table-width-9 {
    width: calc((100% / 24) * 9);
}

.THIS .table-width-10 {
    width: calc((100% / 24) * 10);
}

.THIS .table-width-11 {
    width: calc((100% / 24) * 11);
}

.THIS .table-width-12 {
    width: calc(100% / 2);
}

.THIS .table-width-13 {
    width: calc((100% / 24) * 13);
}

.THIS .table-width-14 {
    width: calc((100% / 24) * 14);
}

.THIS .table-width-15 {
    width: calc((100% / 24) * 15);
}

.THIS .table-width-16 {
    width: calc((100% / 24) * 16);
}

.THIS .table-width-17 {
    width: calc((100% / 24) * 17);
}

.THIS .table-width-18 {
    width: calc((100% / 24) * 18);
}

.THIS .table-width-19 {
    width: calc((100% / 24) * 19);
}

.THIS .table-width-20 {
    width: calc((100% / 24) * 20);
}

.THIS .table-width-21 {
    width: calc((100% / 24) * 21);
}

.THIS .table-width-22 {
    width: calc((100% / 24) * 22);
}

.THIS .table-width-23 {
    width: calc((100% / 24) * 23);
}

.THIS .table-width-24 {
    width: 100%;
}